.text-member-name {
    font-size: 15pt;
    text-align: center;
    padding-top: 10px;
}
.text-center{
    text-align: center;
}
.team-member-images {
    display: block;
    width: 100%;
    height: 250px;
}
.modal.and.carousel {
    position: fixed; 
  }
  .modal-dialog {
      width: 80% !important;
  }
.carousel-caption
{
    top: 0;
    bottom: auto;
    font-weight: bold;
    color:#008245;
    font-size: 16px;
}
.project_title{
    color: #02406a !important;
    margin-top:0px !important;
}