<div id="home" class="fade-in" ng-controller="HomeController" ng-init="htmlLoaded()" ng-show="ready()">
	<div id="logo"></div>
	<div class="title">{{title}}</div>
	<a href="https://our-employee-management-system">
		<div class="panel product">{{productText}}
			<div class="outerCircle"></div>
			<div class="innerCircle"></div>
		</div>
	</a>
	<div class="panel about" ng-click="enterAbout()">{{aboutText}}
		<div class="outerCircle"></div>
		<div class="innerCircle"></div>
	</div>
	<div class="panel contacts" ng-click="enterContacts()">{{contactsText}}
		<div class="outerCircle"></div>
		<div class="innerCircle"></div>
	</div>
</div>
