body {
	background-color: #00CCFF;
	min-width: 1280px;
}

a  {
	text-decoration: none; 
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	color: black;
}

img {
	height: 400px;
	width: 300px;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;
}

#header {
	position: relative;
	background-color: #33FF00;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

#left {
	float: left;
	width: 50%;
}

#photo {
	float: left;
	width: 50%;
}

#profile {
	float: right;
	font-family: Arial;
	font-size: 24px;
	font-weight: bold;
	color: red;
	width: 50%;
}

#profile ul ul li {
	font-family: Verdana;
	font-size: 18px;
	font-style: italic;
	color: black;
}

p {
	font-family: Tahoma;
	font-size: 1em;
}

#right {
	float: right;
	width: 50%;
}

table {
	border: #000000 1px solid;
	background-color: white;
	float: right;
	margin-right: 10px;
}

td {
	height: 200px;
	width: 200px;
}

td img {
	height: 200px;
	width: 200px;
	box-shadow: none;
}

th {
	font-family: Verdana;
	font-size: 1em;
	font-weight: normal;
	color: #3c4543;
}

#footer {
	clear: both;
	position: relative;
	bottom: -20px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	height: 75px;
	width: auto;
	background-color: #33FF00;
}

#contact {
	position: relative;
	top: 20px;
	bottom: 10px;
	font-size: 16px;
	color: black;
	text-align: left;
}
